### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Backup
.emacs.d.bak/*
!.emacs.d.bak/init.el
!.emacs.d.bak/Cask

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# lsp-mode
.lsp-session*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/
elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld
projectile.cache

# directory configuration
.dir-locals.el

# Network Security
network-security.data

# Recent Files
recentf

# ac-comphist-file
ac-comphist.dat

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
